{{title}}

<ul>
    <li *ngFor="let item of items$ | async">
        {{ item.ContactNumber }}
    </li>
</ul>

<!-- @if(currentUser){
<div>
    <p>Welcome, {{ currentUser?.displayName }}!</p>
    <button (click)="logout()">Logout</button>
</div>
} -->

<ng-container *ngIf="currentUser">
    <div>
        {{currentUser | json}}
        <!-- <p>Welcome, {{ currentUser?.displayName }}!</p> -->
        <button (click)="logout()">Logout</button>
    </div>
</ng-container>
@if(!currentUser){
<button (click)="login()">Login with Google</button>
}

<router-outlet />